/*
content: #121212
side/header: #1b1b1d
popup header: #2d2d2f
popup content: #202022
primary text: white
secondary text: #aaaaaa
context menu: #1b1b1d
*/

/* chat */
.container-1r6BKw.themed-ANHk51,/* header */
.messages-3amgkR, /* chat messages */
.chat-3bRxxu, /* text input */
.membersWrap-2h-GB4 .members-1998pB /* member list */ {
  background-color: #121212;
}

.scrollableContainer-2NUZem /* chat text input scrollbar? */ {
  background-color: #1b1b1d;
}

.markup-2BOw-j code /* code inlining etc */ {
  background-color: #28282a;
}

.markup-2BOw-j pre /* remove fugly border */ {
  border: 0;
}

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@master/distr/fira_code.css);
.hljs /* use Fira Code cause it looks better */ {
  font-family: Fira Code;
}

.children-19S4PO:after /* little blip in channel title at bell icon */ {
  background: none;
}

.timestampCozy-2hLAPV /* timestamps */ {
  color: #aaaaaa;
}

.embedInner-1-fpTo /* embed */ {
  border: 0;
}

/* sidebar */
.wrapper-1Rf91z .scroller-2TZvBN, /* guilds */
.sidebar-2K8pFh .privateChannels-1nO12o, /* search bar in DMs */
.sidebar-2K8pFh .scroller-1JbKMe, /* DMs */
.sidebar-2K8pFh .panels-j1Uci_, /* status panel with name etc */
.sidebar-2K8pFh > div:nth-child(1) /* channels, can't get class */ {
  background-color: #1b1b1d;
}

/* scrollbars */
/* remove ugly border radius */
.scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb /* DMs, channels */ {
  border-radius: 0;
}

/* background behind thumb */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: 0;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb, /* in chat thumb */
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb /* channel list thumb */ {
  background-color: #4b4b4e;
  border: 0;
}

/* autocomplete */
.theme-dark .autocomplete-1vrmpx /* in chat autocomplete */ {
  background-color: #1b1b1d;
}

.theme-dark .selectorSelected-1_M1WV /* auto complete highlighted result, using discord var */ {
  background-color: var(--background-modifier-selected);
}

/* search bar */
.theme-dark .popout-2iWAc- .container-3ayLPN {
  background-color: #1b1b1d;
}

.theme-dark .option-96V44q:after /* remove search bar blip */ {
  background: none;
}

/* serch results */
.theme-dark .searchHeader-1l-wpR /* header with tabs */ {
  background-color: #2d2d2f;
}

.theme-dark .searchResultsWrap-2DKFzt, /* background */
.theme-dark .searchResult-3pzFAB .hit-NLlWXA, /* messages */
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf /* search arguments? */ {
  background-color: #202022;
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA /* selected message */ {
  background-color: #28282a;
}

.theme-dark .searchResult-3pzFAB:before /* bottom of visible message */ {
  background-image: linear-gradient(0deg, #20202200, #202022);
}

.theme-dark .searchResult-3pzFAB:after /* top of visible message */ {
  background-image: linear-gradient(180deg, #20202200, #202022);
}

.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
  box-shadow: none;
}

/* friends list */
.friendsTable-133bsv .friendsTableBody-1ZhKif, /* actual users */
.friendsTable-133bsv .friendsTableHeader-32yE7d, /* NAME STATUS MUTUAL SERVERS */
.theme-dark .base-3dtUhz > .content-98HsJk > .container-3gCOGc /* friends list base */ {
  background-color: #121212;
}

/* popups */
.theme-dark .messagesPopoutWrap-1MQ1bW /* remove border around whole popup, ,fugly */ {
  border: none;
}

.theme-dark .header-ykumBX /* popup headers, should I be specific? */ {
  background-color: #2d2d2f;
}

.messagesPopoutWrap-1MQ1bW .scroller-2FKFPG, /* background */
.theme-dark .messageGroupWrapper-o-Zw7G, /* messages */
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug /* jump button */ {
  background-color: #202022;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug /* remove fugly shadow on jump button group */ {
  box-shadow: none;
}

/* popups */
/* top section */
.theme-dark .headerNormal-T_seeN,
.theme-dark .quickMessage-1yeL4E {
  background-color: #2d2d2f;
}
/* bottom section */
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6,
.note-3kmerW textarea:focus {
  background-color: #202022;
}
/* streaming */
.headerStreaming-2FjmGz {
  background-color: #2c00b1;
}
/* playing */
.headerPlaying-j0WQBV {
  background-color: #0028ad;
}
/* spootisfy */
.headerSpotify-zpWxgT {
  background: #116e32;
}

/* user modal */
.topSectionNormal-2-vo2m /* header normal */ {
  background-color: #2d2d2f;
}
/* streaming */
.topSectionStreaming-1Tpf5X {
  background-color: #2c00b1;
}
/* playing */
.topSectionPlaying-1J5E4n {
  background-color: #0028ad;
}
/* spootisfy */
.topSectionSpotify-1lI0-P {
  background: #116e32;
}

.body-3ND3kc /* content */ {
  background-color: #202022;
}

.connectedAccount-36nQx7 /* connectec accounts fugly border */ {
  border: 0;
}
